<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>课时统计-华信智原教师签课时系统</title>
    <link rel="stylesheet" type="text/css" href=".././css/normalize.css">
    <link rel="stylesheet" type="text/css" href=".././css/font/iconfont.css">
    <link rel="stylesheet" type="text/css" href=".././css/base.css">
    <link rel="stylesheet" type="text/css" href=".././css/style.css">
    <link rel="stylesheet" type="text/css" href=".././js/kalendae/kalendae.css">
    <link rel="stylesheet" type="text/css" href=".././css/newkalendae.css">
    <script type="text/javascript" src=".././js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src=".././js/kalendae/kalendae.standalone.js"></script>
    <script type="text/javascript" src=".././js/keshi.js"></script>
    <script type="text/javascript" src=".././js/jquery.cookie.js"></script>
    <script type="text/javascript" src="./../js/host.js"></script>
<!--包括IE9以及IE9以下的-->
<!--[if lte IE 9]>
  <style>
  	.select-wrap:after{
    	display:none;}
    .recordSelect-form select{
    padding:6px 6px 6px 10px;}
     .keshi-form select{
    padding-right:1px;}
  </style>
<![endif]-->

</head>

<body>
<header>
    <div id="header-wrap">
        <div id="header" class="header-neiye">
            <h1>华信智原教师签课时系统v1.0</h1>
        </div>
    </div>
</header>
<main id="main-wrap">
	<div id="container" class="clearfix neiye">
    	<div id="recordList-wrap" class="fl">
            <div id="recordList">
                <div class="pass-wrap record-wrap">
                    <div class="recordSelect clearfix">
                        <div class="recordSelect-form fr">
                            <form name="selectPage" method="post" action="">
                                <ul class="clearfix">
                                    <li><div class="select-wrap">
                                        <select name="selectMonth">
                                        <script>
                                        for(var i=1;i<=12;i++){
                                          document.write(' <option value="'+(i<10?'0'+i:i)+'">'+(i<10?'0'+i:i)+'</option>')
                                        }
                                           </script>
                                        </select>
                                    </div></li>
                                    <li><div class="select-wrap">
                                        <select name="selectMonth">
                                        <script>
                                        var myDate=new Date();
                                        var year=myDate.getFullYear();
                                        for(var i=year;i>=2015;i--){
                                          document.write(' <option value="'+i+'">'+i+'</option>')
                                        }
                                           </script>
                                        </select>
                                    </div></li>
                                </ul>
                            </form>
                        </div>
                        <div class="fl recordCount">
                            本绩效计算运行时将占用大量系统资源，建议在系统空闲时间使用本功能。
                        </div>
                    </div>
                    <div class="recordList-table checkList countKeshi">
                        <table width="840" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">姓名</th>
                                  <th scope="col">总课时数</th>
                                  <th scope="col">授课</th>
                                  <th scope="col">值班</th>
                                  <th scope="col">操作</th>
                              </tr>
                            </table>
                        <div class="pagebar center" id="pagebar">
                            <a href="#"class="current">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                        </div>
                    </div>
                </div>
            </div>
      	</div>
        <aside class="fr">
        	<div id="slidebar" class="fr">
                <div id="teacher-info">
                    <div id="touxiang">
                        <a href="#"><img src=".././images/touxiang.jpg" alt="管理员头像" id="userImg"></a></div>
                    <h1 class="center" id="username">汪帆</h1>
                </div>
                <nav id="teacher-menu">
                    <div id="menulist">
                        <ul>
                            <li><a href="adminIndex.html">教师信息管理</a></li>
                            <li><a href="adminSchool.html" >教务教学管理</a></li>
                            <li><a href="keshiCount.html" class="active">课时统计管理</a></li>
                            <li><a href="adminInfo.html">管理员管理</a></li>
                             <li><a href="javascript:;">数据备份/恢复</a></li>
                              <li><a href="../index.html">退出管理系统</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </aside>
	</div>
</main>
<footer id="footer-wrap">
	<div id="footer">
    	<p>课时系统兼容IE9+、谷歌、火狐等现代浏览器，浏览器版本过低会影响用户体验</p>
    	<p>Copyright @2018成都华信智原有限公司版权所有</p>
        <p>课时系统兼容IE8+，以及谷歌、火狐等现代浏览器</p>
        <p>设计+前端开发：赵岚稹
</p>
	<p>后端开发：汪武斌</p>
    </div>
</footer>
<script>
    var data=[{
        'id':7,
        'name':'赵岚稹',
        'total':187,
        'count':184,
        'zhiban':2,
    },
        {
            'id':6,
            'name':'汪帆',
            'total':187,
            'count':184,
            'zhiban':2,
        },
        {
            'id':5,
            'name':'何艳',
            'total':186,
            'count':183,
            'zhiban':2,
        },
        {
            'id':4,
            'name':'汪武斌',
            'total':186,
            'count':184,
            'zhiban':2,
        },
        {
            'id':3,
            'name':'刘勇',
            'total':172,
            'count':170,
            'zhiban':2,
        },
        {
            'id':2,
            'name':'周胜',
            'total':187,
            'count':184,
            'zhiban':2,
        },
        {
            'id':7,
            'name':'张松',
            'total':187,
            'count':184,
            'zhiban':2,
        }
    ]

    for(var i=0;i<data.length;i++){
        $('table').append('<tr><td>'+data[i].id+'</td><td>'+data[i].name+'</td><td>'+data[i].total+'</td><td>'+data[i].count+'</td><td>'+data[i].zhiban+'</td><td><a href="adminRecordList_fz.html" target="_blank">查看课时详情</a></t</tr>')
    }

    var page = 1;
    var row = 10;
    var user = null;
    $(function(){
        if ($.cookie("user")==null || $.cookie("user") == undefined){
            alert("请先登录");
            window.location.href = ".././index.html";
            return;
        }else{
            user = JSON.parse($.cookie("user"));
            if (user.uFlag == 1){
                alert("权限不足");
                window.location.href = ".././teacher_fz.html";
                return;
            }
            console.log(user)
            $("#username").text(user.uUsername);
            $("#userImg").attr("src", host+user.uImg);
        }
        init();
    });

    function init(){
        $('table').empty();
        $("#pagebar").empty()
        $('table').append($("  <tr>\n" +
            "    <th scope=\"col\">ID</th>\n" +
            "    <th scope=\"col\">姓名</th>\n" +
            "    <th scope=\"col\">课时总数</th>\n" +
            "    <th scope=\"col\">授课</th>\n" +
            "    <th scope=\"col\">值班</th>\n" +
            "    <th scope=\"col\">操作</th>\n" +
            "  </tr>"));

        $.ajax({
            type : "GET",
            url : host+"/report/findCountPage?page="+page+"&row="+row,
            xhrFields : {
                withCredentials : true
            },
            crossDomain : true,
            xhrFields : {
                withCredentials : true
            },
            crossDomain : true,
            success : function(result) {
                console.log(result);
                for (var i=0;i<result.data.totalPage;i++){
                    if ((i+1)==result.data.currentPage){
                        $("#pagebar").append($("<a href=\"javascript:;\" class='current'>"+(i+1)+"</a>"));
                    } else{
                        $("#pagebar").append($("<a href=\"javascript:;\">"+(i+1)+"</a>"));
                    }

                }
                for(var i=0;i<result.data.list.length;i++){
                    $('table').append('<tr><td>'+(i+1)+'</td><td>'+result.data.list[i].tName+'</td><td>'+result.data.list[i].zks+'</td><td>'+result.data.list[i].sk+'</td><td>'+result.data.list[i].zb+'</td><td><a href="adminRecordList_fz.html?name='+result.data.list[i].tName+'" target="_blank">查看课时详情</a></t</tr>');
                }
            },
            error : function(e){
                alert("请求失败");
            }
        });
    }
</script>
</body>
</html>
